body {
    background-color: #eee
}

.card {
    border: solid 1px rgb(191, 169, 174);
    border-radius: 5px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon1 {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png");
    background-size: cover; 
    background-position: center;
}
.icon2 {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    background-image: url("https://www.bing.com/th?id=OIP.wTK_cK_SaqU8fKDjgcnvHwHaHa&w=150&h=150&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    background-size: cover; 
    background-position: center;
}

.badge span {
    color: black;
    padding: 5px;
}


.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}


.bottom-button{
    border: none;
    border-radius: 3px;
    padding: 3px;
    width: 100px;
    margin-left: 6px;
    border: 1.4px solid;
}
.marg-left{
    margin-left: 10px;
}
.email-link{
    color: black;
    margin-left: 10px;
}

.droo-bdn{
    border: none;
    background: white;
}